[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyspark = "==3.2.2"
"psycopg2-binary" = "*"
numpy = "*"
findspark = "*"

[requires]
python_version = "3.7"
#python_version = "3.6"
